<html>
<body>
<table border="1">
<tr>
<th>title</th>
<th>created</th>
<th>n_voteup</th>
<th>n_comment</th>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133945659'>计算机视觉领域的牛人主页与研究机构</a></td>
<td>2020-04-22</td>
<td>6</td>
<td>1</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134111177'>实例分割新思路: Deep Snake (CVPR20Oral Paper)</a></td>
<td>2020-04-22</td>
<td>29</td>
<td>3</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134118531'>【应用·航天】浅探人工智能在卫星测控领域的应用</a></td>
<td>2020-04-22</td>
<td>19</td>
<td>17</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134209510'>多智能体强化学习笔记05 值函数分解方法</a></td>
<td>2020-04-22</td>
<td>19</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134217990'>机器人相关每日论文速递[04.22]</a></td>
<td>2020-04-22</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134218042'>机器学习每日论文速递[04.22]</a></td>
<td>2020-04-22</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134218117'>自然语言处理每日论文速递[04.22]</a></td>
<td>2020-04-22</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134218798'>OpenRes 1: Modularity 相关paper赏析（1）</a></td>
<td>2020-04-22</td>
<td>5</td>
<td>1</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134228288'>ZILLIZ借助 NVIDIA GPU加速AI全流程，打造新一代海量非结构信息搜索引擎</a></td>
<td>2020-04-22</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134235705'>「新基建」官方定义来了！今年投资或达万亿元，三大方向政企协同发力</a></td>
<td>2020-04-22</td>
<td>6</td>
<td>3</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134235781'>Enhanced-RCNN: 一种高效的比较句子相似性的方法 ｜​WWW 2020</a></td>
<td>2020-04-22</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134294068'>【NAS-020】2019.11.30-SGAS-CVPR 2020</a></td>
<td>2020-04-22</td>
<td>3</td>
<td>2</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134299212'>干货！Amazon SageMaker——轻松驾驭机器学习</a></td>
<td>2020-04-22</td>
<td>4</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134300280'>手写雨课堂，清华自动化大一 C++作业引爆全网，特奖得主、阿里P6：我们也做不到</a></td>
<td>2020-04-22</td>
<td>115</td>
<td>36</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134577191'>如何看待Java和Python的区别，免费给新人的干货资料！</a></td>
<td>2020-04-22</td>
<td>17</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134596802'>PyTorch 1.5 发布，与 AWS 合作 TorchServe</a></td>
<td>2020-04-22</td>
<td>5</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134604690'>「反向传播非你原创」，Jürgen发文直指Hinton不应获2019本田奖</a></td>
<td>2020-04-22</td>
<td>10</td>
<td>4</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134605478'>PyTorch 1.5上线：加入稳定C++前端，高级自动梯度API</a></td>
<td>2020-04-22</td>
<td>50</td>
<td>4</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134606005'>新冠肺炎肆虐，看机器学习如何大展手脚，更有效地协助医药研发</a></td>
<td>2020-04-22</td>
<td>3</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134608041'>从技术、设计、AI等角度，谈谈RecordScreen.io</a></td>
<td>2020-04-22</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134642289'>【AI不惑境】模型剪枝技术原理及其发展现状和展望</a></td>
<td>2020-04-22</td>
<td>3</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134643424'>Wave Computing成为第一家疫情期间申请破产的AI芯片公司</a></td>
<td>2020-04-22</td>
<td>3</td>
<td>1</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/109207716'>A Comprehensive Overhaul of Feature Distillation</a></td>
<td>2020-04-21</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/115804533'>CVPR2020:解决数据长尾效应的BBN</a></td>
<td>2020-04-21</td>
<td>3</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133870768'>[Graph Embedding]阿里超大规模商品Embedding策略EGES</a></td>
<td>2020-04-21</td>
<td>3</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133963689'>构建科研学习社群的思考与讨论</a></td>
<td>2020-04-21</td>
<td>9</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133967853'>诚聘前端开发工程师</a></td>
<td>2020-04-21</td>
<td>4</td>
<td>6</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133990741'>自动调制识别的新型注意力合作框架</a></td>
<td>2020-04-21</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133996741'>百万奖池，鹅厂offer，2020腾讯广告算法大赛等你来战！</a></td>
<td>2020-04-21</td>
<td>7</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134008239'>在K40小破卡训练50层BERT Large的宝藏trick</a></td>
<td>2020-04-21</td>
<td>393</td>
<td>26</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134016509'>零门槛人像转卡通、GIF表情包，这个项目不仅开源，还做成了小程序</a></td>
<td>2020-04-21</td>
<td>23</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134018123'>神经网络的基础是MP模型？南大周志华组提出新型神经元模型FT</a></td>
<td>2020-04-21</td>
<td>49</td>
<td>17</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134019164'>机器学习领域科技论文-实验设计与写作</a></td>
<td>2020-04-21</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134019178'>谷歌量子计算变天：关键人物John Martinis宣布辞职</a></td>
<td>2020-04-21</td>
<td>19</td>
<td>3</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134022524'>12.6%！IJCAI 2020接收率断崖式下跌，但还是有华人大佬中了三篇</a></td>
<td>2020-04-21</td>
<td>28</td>
<td>4</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134024376'>DLP-KDD 2020征文：第二届面向高维稀疏数据的深度学习实践国际研讨会</a></td>
<td>2020-04-21</td>
<td>35</td>
<td>8</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134061551'>吴恩达团队创建人工智能工具，用摄像头画面测量社交距离</a></td>
<td>2020-04-21</td>
<td>2</td>
<td>1</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134090164'>针对复杂问题的知识图谱问答最新进展</a></td>
<td>2020-04-21</td>
<td>20</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134099981'>如何突破Decoder性能瓶颈？英伟达专家揭秘FastTransformer的原理与应用，已开源</a></td>
<td>2020-04-21</td>
<td>22</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134105591'>深入窥探动态链接</a></td>
<td>2020-04-21</td>
<td>7</td>
<td>1</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134108089'>学习有方，开发不慌：机器学习 Study Jam 上线啦！</a></td>
<td>2020-04-21</td>
<td>8</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134119331'>[5min 1paper] CVPR2019 使用"有效样本数量"来得到类别平衡的损失函数</a></td>
<td>2020-04-21</td>
<td>5</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134121338'>干货|杨强教授联邦学习公开课视频及问答整理</a></td>
<td>2020-04-21</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134126871'>AI老婆生成器！</a></td>
<td>2020-04-21</td>
<td>6</td>
<td>1</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134132776'>python学习方法总结(内附python全套学习资料)</a></td>
<td>2020-04-21</td>
<td>37</td>
<td>27</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134139608'>转载 | Transformer的七十二变</a></td>
<td>2020-04-21</td>
<td>9</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134139937'>两个脑洞的工作方向</a></td>
<td>2020-04-21</td>
<td>7</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134145784'>蓝牙APP追踪新冠密切接触者仿真</a></td>
<td>2020-04-21</td>
<td>4</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134159148'>论文笔记AugFPN:Improving Multi-scale Feature Learning</a></td>
<td>2020-04-21</td>
<td>2</td>
<td>1</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134162500'>NLP重剑篇之逻辑回归与条件随机场</a></td>
<td>2020-04-21</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/134169422'>《XL-net 阅读笔记》</a></td>
<td>2020-04-21</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/77636947'>S-H-A-D-E:构建AI人工智能商业化5大要素</a></td>
<td>2020-04-20</td>
<td>2</td>
<td>1</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/130568435'>Deep Unsupervised Cardinality Estimation（VLDB20）解读</a></td>
<td>2020-04-20</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/131342575'>使用Python和Numpy构建神经网络模型——波士顿房价预测案例</a></td>
<td>2020-04-20</td>
<td>4</td>
<td>1</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133293324'>NLP中的语义鲁棒性相关工作分享</a></td>
<td>2020-04-20</td>
<td>5</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133410583'>[CS224n笔记] L15 Natural Language Generation</a></td>
<td>2020-04-20</td>
<td>6</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133468343'>用EM算法求解多项分布混合主题模型</a></td>
<td>2020-04-20</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133491514'>香侬读 | LongFormer：用稀疏自注意力拓展模型文本容纳量</a></td>
<td>2020-04-20</td>
<td>14</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133612775'>用于多标签分类的深层多模态网络</a></td>
<td>2020-04-20</td>
<td>4</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133620567'>Facebook AI 108页ppt 讲述自监督学习在最新</a></td>
<td>2020-04-20</td>
<td>33</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133623097'>华裔工程师发明的廉价玩具上了谷歌热搜第一，它还藏着量子世界的秘密 | 把科学带回家</a></td>
<td>2020-04-20</td>
<td>508</td>
<td>44</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133625854'>什么是对话式人工智能？</a></td>
<td>2020-04-20</td>
<td>3</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133635773'>澳洲AI人工智能硕士课程院校及项目推荐</a></td>
<td>2020-04-20</td>
<td>19</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133647008'>深度学习与量化交易资源整理</a></td>
<td>2020-04-20</td>
<td>2</td>
<td>3</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133647548'>机器人相关每日论文速递[04.20]</a></td>
<td>2020-04-20</td>
<td>4</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133648468'>找不到技术突破口，自动驾驶行业还能撑多久？</a></td>
<td>2020-04-20</td>
<td>2</td>
<td>2</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133650926'>华裔工程师发明的廉价玩具上了谷歌热搜第一，它还藏着量子世界的秘密</a></td>
<td>2020-04-20</td>
<td>123</td>
<td>11</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133658997'>旷视研究院提出数据不确定性算法 DUL，优化人脸识别性能</a></td>
<td>2020-04-20</td>
<td>2</td>
<td>1</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133662740'>Interplay 研究内参：2020 年第 1 期</a></td>
<td>2020-04-20</td>
<td>10</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133677028'>协作多智能体强化学习：从分布式优化视角的理解</a></td>
<td>2020-04-20</td>
<td>9</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133690499'>ICLR 2020 |  神经正切，5行代码打造无限宽的神经网络模型</a></td>
<td>2020-04-20</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133694330'>如何轻松上手华为最新开源框架MindSpore？</a></td>
<td>2020-04-20</td>
<td>11</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133703941'>[翻译]纯整数算数推理的神经网络量化和训练</a></td>
<td>2020-04-20</td>
<td>3</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133714515'>基于DNN模型的智能选股策略</a></td>
<td>2020-04-20</td>
<td>3</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133715533'>直播预告 | 斯坦福助理教授马腾宇：深度学习中的隐式和显式正则化</a></td>
<td>2020-04-20</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133717869'>我什么都没做，文章就自动变成了视频？AI神器解放视频编辑丨百度研究院出品</a></td>
<td>2020-04-20</td>
<td>29</td>
<td>7</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133731904'>外媒：Wave Computing宣告倒闭</a></td>
<td>2020-04-20</td>
<td>9</td>
<td>6</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133737242'>用Python写出Gameboy模拟器，还能训练AI模型：丹麦小哥的大学项目火了</a></td>
<td>2020-04-20</td>
<td>114</td>
<td>3</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133739201'>房屋设计耗时耗力耗钱？图约束的生成对抗网络帮你解决</a></td>
<td>2020-04-20</td>
<td>30</td>
<td>2</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133739758'>全面理解PinSage</a></td>
<td>2020-04-20</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133753010'>如何看待AI技术？什么是AI？（附教程）</a></td>
<td>2020-04-20</td>
<td>158</td>
<td>1</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133772217'>机器学习（九）：激活函数</a></td>
<td>2020-04-20</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133804801'>微调预训练模型的新姿势——自集成和自蒸馏</a></td>
<td>2020-04-20</td>
<td>119</td>
<td>3</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133805433'>关于ResNeSt的点滴疑惑</a></td>
<td>2020-04-20</td>
<td>116</td>
<td>8</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133806134'>化虚为实，工业智联如何落地破局 | 专访清华大学教授刘勇攀</a></td>
<td>2020-04-20</td>
<td>6</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133811972'>我是如何用 AI 把“请洗手”翻译成 500 种语言的？ | Linux 中国</a></td>
<td>2020-04-20</td>
<td>8</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133815521'>AI | 一键提升多媒体内容质量：漫谈图像超分辨率技术</a></td>
<td>2020-04-20</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133832687'>公众号文章索引</a></td>
<td>2020-04-20</td>
<td>8</td>
<td>1</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133833001'>5分钟检测和免疫证书，真的是美国的黑科技吗？| 袁岚峰</a></td>
<td>2020-04-20</td>
<td>61</td>
<td>5</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133839081'>嬴彻与东风商用车完成L3重卡A样车验收，加速自动驾驶产品化</a></td>
<td>2020-04-20</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133847253'>低垂的果实在远方？(鼻科影像AI小分享）</a></td>
<td>2020-04-20</td>
<td>3</td>
<td>1</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133859766'>转载 | 基于图结构的自然语言处理</a></td>
<td>2020-04-20</td>
<td>25</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/124875982'>深度学习理论之Neural Tangent Kernel第四讲：当NTK遇上平均场理论</a></td>
<td>2020-04-19</td>
<td>12</td>
<td>3</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/126616324'>AI的下个十年</a></td>
<td>2020-04-19</td>
<td>908</td>
<td>55</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/132706402'>数据分析|决策树</a></td>
<td>2020-04-19</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133109928'>如何学习人工智能？人工智能的发展怎么样？（附教程）</a></td>
<td>2020-04-19</td>
<td>106</td>
<td>3</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133314338'>[数字化未来]-从AI艺术浅析数字化趋势</a></td>
<td>2020-04-19</td>
<td>3</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133334392'>强化学习稀疏奖励算法总结</a></td>
<td>2020-04-19</td>
<td>2</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133344220'>ZOOX 旧金山湾区全程自动驾驶</a></td>
<td>2020-04-19</td>
<td>7</td>
<td>0</td>
</tr>
<tr>
<td><a href='http://zhuanlan.zhihu.com/p/133388563'>Expressive TTS：向更有表现力的语音合成进发（一）</a></td>
<td>2020-04-19</td>
<td>15</td>
<td>3</td>
</tr>
</table>
</body>
</html>
