<html>
<body>
<table border="1">
<tr>
<th>title</th>
<th>created</th>
<th>n_answers</th>
<th>n_followers</th>
<th>n_watch</th>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/388893573'>如何看待IJCAI2020录取结果？</a></td>
<td>2020-04-19</td>
<td>3</td>
<td>43</td>
<td>24863</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/388894020'>Bert等出来后，文本分类是否还要尝试fasttext，textcnn等模型？</a></td>
<td>2020-04-19</td>
<td>0</td>
<td>32</td>
<td>1301</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/388669433'>请问各位python全栈包括“爬虫”、“机器学习”、“人工智能”吗？</a></td>
<td>2020-04-18</td>
<td>0</td>
<td>5</td>
<td>402</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/388731995'>什么是“E画幅”？</a></td>
<td>2020-04-18</td>
<td>7</td>
<td>33</td>
<td>6148</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/388757909'>如何评价“人工智能画的画是没有灵魂的”这个观点？</a></td>
<td>2020-04-18</td>
<td>3</td>
<td>32</td>
<td>3558</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/388637660'>如何评价ResNeSt：Split-Attention Networks？</a></td>
<td>2020-04-17</td>
<td>4</td>
<td>137</td>
<td>5825</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/388202293'>关于机器学习，为什么国内这么执着于深度学习？</a></td>
<td>2020-04-16</td>
<td>0</td>
<td>48</td>
<td>5676</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/388306961'>长时记忆容量几乎无限，工作记忆容量却极为有限，为何漫长进化不略微牺牲长时容量以换取工作记忆容量的提升？</a></td>
<td>2020-04-16</td>
<td>1</td>
<td>37</td>
<td>2784</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/388043149'>人工智能在红外探测中可以有哪些应用？</a></td>
<td>2020-04-15</td>
<td>10</td>
<td>11</td>
<td>838</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/387574523'>Auto ML的冲击下，现在大量ML算法人员是否会在前者成熟后失业?</a></td>
<td>2020-04-14</td>
<td>0</td>
<td>317</td>
<td>55490</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/387674322'>如何评价骑马与砍杀2的AI？</a></td>
<td>2020-04-14</td>
<td>4</td>
<td>12</td>
<td>3716</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/387403455'>本科直接选择人工智能真的好吗？</a></td>
<td>2020-04-13</td>
<td>27</td>
<td>31</td>
<td>10319</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/387443351'>「深度学习推荐系统」这本书中有哪些错误？</a></td>
<td>2020-04-13</td>
<td>3</td>
<td>147</td>
<td>6912</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/387445184'>如何评价「深度学习推荐系统」这本书？</a></td>
<td>2020-04-13</td>
<td>0</td>
<td>153</td>
<td>15518</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/387453711'>在推荐系统中，如何较好的采用深度学习方法获取用户长短期兴趣？</a></td>
<td>2020-04-13</td>
<td>0</td>
<td>45</td>
<td>926</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/386875262'>在自然语言处理中，如何对《诗经》《论语》、唐诗宋词做分词？并且做向量化？</a></td>
<td>2020-04-11</td>
<td>1</td>
<td>10</td>
<td>805</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/386546835'>目前人工智能的天花板在什么地方？</a></td>
<td>2020-04-10</td>
<td>4</td>
<td>42</td>
<td>7417</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/386651637'>深度学习有哪些好玩的案例？</a></td>
<td>2020-04-10</td>
<td>0</td>
<td>10</td>
<td>745</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/386743819'>pytorch里要加载的数据超过内存大小应该怎么解决？</a></td>
<td>2020-04-10</td>
<td>12</td>
<td>27</td>
<td>3601</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/386309435'>如何衡量两个「任意数据集」间的相似度？</a></td>
<td>2020-04-09</td>
<td>0</td>
<td>618</td>
<td>23176</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/386429819'>新基建来了，可能会给普通人的生活带来哪些影响或提升？</a></td>
<td>2020-04-09</td>
<td>2</td>
<td>436</td>
<td>82898</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/386541719'>现在AI客服越来越多，人工客服未来会失业吗？</a></td>
<td>2020-04-09</td>
<td>3</td>
<td>918</td>
<td>393916</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/386036614'>工业界机器学习算法平台有哪些通用的特征工程方法？</a></td>
<td>2020-04-08</td>
<td>2</td>
<td>17</td>
<td>1125</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/386052232'>如何看待 2019 全球专利申请数中国 40 年来首次超越美国？</a></td>
<td>2020-04-08</td>
<td>0</td>
<td>88</td>
<td>8515</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/386159856'>请问lightgbm分裂时的增益公式有什么特殊含义，怎么推导出来的？</a></td>
<td>2020-04-08</td>
<td>3</td>
<td>10</td>
<td>198</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/386173051'>学生网络用知识蒸馏损失去逼近教师网络，如何提高学生网络的准确率？</a></td>
<td>2020-04-08</td>
<td>0</td>
<td>13</td>
<td>438</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/385756366'>985本科在读，数据科学和大数据实验班和人工智能实验班哪个更有前途呢？</a></td>
<td>2020-04-07</td>
<td>0</td>
<td>10</td>
<td>567</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/385821370'>推荐系统有什么危害?</a></td>
<td>2020-04-07</td>
<td>2</td>
<td>626</td>
<td>85373</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/385854517'>为何相同的数据集，相同的超参设置，模型训练结果准确率相差很大？</a></td>
<td>2020-04-07</td>
<td>5</td>
<td>14</td>
<td>967</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/385879779'>为什么一般对机器学习的数学基础的建议只有线性代数和概率论，而不提流形、泛函分析、实变等？</a></td>
<td>2020-04-07</td>
<td>0</td>
<td>44</td>
<td>4079</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/385537144'>深度学习方向写论文有什么好用的画图软件？</a></td>
<td>2020-04-06</td>
<td>3</td>
<td>33</td>
<td>2495</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/385643653'>学习少儿编程对做数学题是不是有很大的帮助？</a></td>
<td>2020-04-06</td>
<td>0</td>
<td>10</td>
<td>163</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/385259014'>ACL 2020有哪些值得关注的论文？</a></td>
<td>2020-04-05</td>
<td>18</td>
<td>448</td>
<td>20059</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/385316175'>目前热门的人工智能和大数据的核心是什么？</a></td>
<td>2020-04-05</td>
<td>3</td>
<td>8</td>
<td>1295</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/385323140'>985大四软件工程专业学生何去何从？</a></td>
<td>2020-04-05</td>
<td>3</td>
<td>8</td>
<td>4201</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/385326992'>时至今日，深度学习领域有哪些值得追踪的前沿研究？</a></td>
<td>2020-04-05</td>
<td>19</td>
<td>1382</td>
<td>88121</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/385366743'>数学硕士不想继续读博，在硕士期间为了就业应做好哪些准备工作呢？</a></td>
<td>2020-04-05</td>
<td>13</td>
<td>11</td>
<td>682</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/385382819'>新手如何上手机器学习？</a></td>
<td>2020-04-05</td>
<td>0</td>
<td>6</td>
<td>225</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/385394032'>如何看待ECCV2020 program chairs are currently offline？</a></td>
<td>2020-04-05</td>
<td>3</td>
<td>77</td>
<td>2161</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/385026292'>现在bert衍生出的模型有哪些好用的封装库？</a></td>
<td>2020-04-04</td>
<td>3</td>
<td>63</td>
<td>4283</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/385070969'>国内大企ai部门及ai初创公司现况如何，是否值得加入？</a></td>
<td>2020-04-04</td>
<td>5</td>
<td>27</td>
<td>1890</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/384788651'>假如10年后，人工智能替代了百分之80的工作，我们应如何应对？</a></td>
<td>2020-04-03</td>
<td>1</td>
<td>8</td>
<td>394</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/384871366'>如何看待清华大学深度强化学习框架“天授”?</a></td>
<td>2020-04-03</td>
<td>5</td>
<td>18</td>
<td>2551</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/384950746'>会不会有机器学习的“大一统理论”？</a></td>
<td>2020-04-03</td>
<td>1</td>
<td>31</td>
<td>2873</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/384460067'>AI领域，如何做个合格的审稿人？</a></td>
<td>2020-04-02</td>
<td>0</td>
<td>86</td>
<td>14479</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/384519338'>有没有什么可以节省大量时间的 Deep Learning 效率神器？</a></td>
<td>2020-04-02</td>
<td>15</td>
<td>874</td>
<td>62354</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/384618219'>足够强大的深度学习能克隆一个人的思维吗?</a></td>
<td>2020-04-02</td>
<td>24</td>
<td>7</td>
<td>2532</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/384208793'>深度学习论文中那么高的准确率都是大力出奇迹吗？</a></td>
<td>2020-04-01</td>
<td>2</td>
<td>30</td>
<td>3890</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/384229616'>什么是认知智能？为什么说认知智能是趋势？</a></td>
<td>2020-04-01</td>
<td>12</td>
<td>680</td>
<td>155349</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/384287944'>如何看待ACL 2020录用结果？</a></td>
<td>2020-04-01</td>
<td>22</td>
<td>323</td>
<td>122245</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/384293439'>英伟达GTC 2020有什么值得关注的亮点吗？</a></td>
<td>2020-04-01</td>
<td>2</td>
<td>29</td>
<td>2307</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/383621355'>信息化人工智能时代，怎样理解知识产权的本质属性?</a></td>
<td>2020-03-30</td>
<td>0</td>
<td>21</td>
<td>461</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/383731820'>在未来，人造子宫＋社会化抚养能否真正实现？</a></td>
<td>2020-03-30</td>
<td>13</td>
<td>9</td>
<td>1791</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/383800240'>计算机本科毕业论文是深度学习的图像识别，算超纲吗？</a></td>
<td>2020-03-30</td>
<td>0</td>
<td>19</td>
<td>1787</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/383807358'>在进行迁移学习的时候，是怎样确定需要冻结哪些层的呢？</a></td>
<td>2020-03-30</td>
<td>4</td>
<td>47</td>
<td>2739</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/383830013'>从零学习语音方向有哪些推荐的书籍和教程？</a></td>
<td>2020-03-30</td>
<td>8</td>
<td>5</td>
<td>505</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/383486199'>为什么现在不看好cv方向了呢?</a></td>
<td>2020-03-29</td>
<td>1</td>
<td>195</td>
<td>86966</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/383497976'>如何看待 IJCAI 2020 录用结果？</a></td>
<td>2020-03-29</td>
<td>6</td>
<td>362</td>
<td>271091</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/383133760'>多模态之间可否实现相互转化？</a></td>
<td>2020-03-28</td>
<td>3</td>
<td>14</td>
<td>329</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/383135317'>如何看待 2020 年 3 月 28 日华为开源的深度学习框架 MindSpore？</a></td>
<td>2020-03-28</td>
<td>46</td>
<td>996</td>
<td>252032</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/383160290'>数学系的研究生想作深度学习，实验室没有直接相关的课题，我应该选什么方向呢？</a></td>
<td>2020-03-28</td>
<td>3</td>
<td>14</td>
<td>2252</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/382810333'>有用pytorch复现efficientDet的吗?</a></td>
<td>2020-03-27</td>
<td>1</td>
<td>31</td>
<td>2031</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/383039777'>xfmr为什么是transformer的缩写，transformer中没有字母x啊？</a></td>
<td>2020-03-27</td>
<td>2</td>
<td>13</td>
<td>2538</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/382802283'>如何理解与看待在cvpr2020中提出的circle loss？</a></td>
<td>2020-03-26</td>
<td>0</td>
<td>943</td>
<td>88623</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/382278216'>学习深度学习是否要先学习机器学习？</a></td>
<td>2020-03-25</td>
<td>57</td>
<td>340</td>
<td>108419</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/382330895'>强化学习中状态空间大，在只有达到特定的状态才能给出奖励的设定下，agent很难探索到特定状态，怎么办？</a></td>
<td>2020-03-25</td>
<td>2</td>
<td>13</td>
<td>697</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/382443499'>第四期为什么没人选乃万？</a></td>
<td>2020-03-25</td>
<td>6</td>
<td>8</td>
<td>10881</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/382496569'>图卷积或者图神经网络适合做推荐系统吗?</a></td>
<td>2020-03-25</td>
<td>2</td>
<td>64</td>
<td>3475</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/381841978'>人工智能可能会变成像终结者电影中一样的反派吗？</a></td>
<td>2020-03-23</td>
<td>13</td>
<td>9</td>
<td>1582</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/381169486'>2020年，mxnet将会如何发展？</a></td>
<td>2020-03-21</td>
<td>8</td>
<td>259</td>
<td>38480</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/381237485'>想要入门自然语言处理，资料贫瘠，英语不好，大神推荐斯坦福的真的是搞不定，迷迷茫茫，不知从何下手？</a></td>
<td>2020-03-21</td>
<td>1</td>
<td>19</td>
<td>1972</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/380943528'>机器人厂商的逆解是怎么做的？</a></td>
<td>2020-03-20</td>
<td>12</td>
<td>42</td>
<td>4940</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/380948961'>god bless us 为什么百度翻译是辛巴？</a></td>
<td>2020-03-20</td>
<td>9</td>
<td>89</td>
<td>178950</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/380989258'>如何评价清华大学开源深度学习框架——计图（Jittor）?</a></td>
<td>2020-03-20</td>
<td>4</td>
<td>27</td>
<td>2320</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/380993534'>如何评价清华计算机系图形学实验室开源的机器学习框架—计图（Jittor）？</a></td>
<td>2020-03-20</td>
<td>1</td>
<td>84</td>
<td>6436</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/380993685'>如何评价清华大学发布的自研深度学习框架-计图(Jittor)？</a></td>
<td>2020-03-20</td>
<td>39</td>
<td>1252</td>
<td>231474</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/381003357'>一个合格的搜索算法工程师应该具备哪些能力？</a></td>
<td>2020-03-20</td>
<td>2</td>
<td>34</td>
<td>1557</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/381100540'>计算机研究生方向：AI or 网络安全？</a></td>
<td>2020-03-20</td>
<td>3</td>
<td>7</td>
<td>1321</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/381101247'>如何看待热剧《三千鸦杀》大闹火车站的演员刘露被ai换脸?</a></td>
<td>2020-03-20</td>
<td>12</td>
<td>9</td>
<td>27334</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/381113280'>数学不好的人，适合学习深度学习，机器学习，人工智能吗？</a></td>
<td>2020-03-20</td>
<td>0</td>
<td>25</td>
<td>894</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/381154035'>计算机视觉研究生文献和复现哪个更重要？</a></td>
<td>2020-03-20</td>
<td>16</td>
<td>84</td>
<td>7366</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/380520828'>Bert模型如何创新?</a></td>
<td>2020-03-18</td>
<td>0</td>
<td>16</td>
<td>469</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/380072451'>潜行游戏 AI 判断发现玩家的算法是怎么实现的？</a></td>
<td>2020-03-17</td>
<td>2</td>
<td>16</td>
<td>5416</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/380119832'>你见过哪些新颖的或有效的「自监督学习样本构建技巧」？</a></td>
<td>2020-03-17</td>
<td>0</td>
<td>132</td>
<td>2655</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/380335971'>人脑是怎么防止梯度消失和梯度爆炸的?</a></td>
<td>2020-03-17</td>
<td>24</td>
<td>346</td>
<td>45448</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/379828567'>含有「厓」的字有的读ya（崖涯）有的读ai（捱啀）而且崖也有读ai的可否证明ya不是最初读音？</a></td>
<td>2020-03-16</td>
<td>14</td>
<td>4</td>
<td>1097</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/379546481'>人工智能在医（药）学有哪些应用？</a></td>
<td>2020-03-15</td>
<td>3</td>
<td>30</td>
<td>2789</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/379702049'>四十年内，ai会取代人文学科的研究么？</a></td>
<td>2020-03-15</td>
<td>0</td>
<td>22</td>
<td>2151</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/379716754'>如何用一句话证明自然语言处理很难？</a></td>
<td>2020-03-15</td>
<td>2</td>
<td>56</td>
<td>13944</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/379109637'>CVPR 2020 Oral结果公布了，今年的oral比例和总数有多少，有哪些有意思的paper呢？</a></td>
<td>2020-03-13</td>
<td>0</td>
<td>370</td>
<td>42161</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/378803913'>人工智能写作是否能够实现，难点到底在哪里？</a></td>
<td>2020-03-12</td>
<td>3</td>
<td>11</td>
<td>679</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/378908033'>bert时代，还有什么特征工程可以做吗？或者说还需要做吗？</a></td>
<td>2020-03-12</td>
<td>5</td>
<td>84</td>
<td>2549</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/378939304'>MATLAB 的深度学习能否在未来赶上甚至超过 Python？</a></td>
<td>2020-03-12</td>
<td>35</td>
<td>236</td>
<td>92973</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/378953837'>为什么fasterRCNN精度比yolov3高？</a></td>
<td>2020-03-12</td>
<td>3</td>
<td>73</td>
<td>6024</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/378515217'>炼丹（调参）的时候，你喜欢做些什么来打发时间？</a></td>
<td>2020-03-11</td>
<td>49</td>
<td>309</td>
<td>114769</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/378543779'>人工智能和 5G 能在一起擦出什么样的火花？</a></td>
<td>2020-03-11</td>
<td>6</td>
<td>236</td>
<td>18856</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/378592464'>国内大厂AI(更确切是CV) research scientist/engineer也是996么？</a></td>
<td>2020-03-11</td>
<td>6</td>
<td>16</td>
<td>1463</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/378610205'>2020 TensorFlow Dev Summit 什么让你印象最深刻？</a></td>
<td>2020-03-11</td>
<td>3</td>
<td>69</td>
<td>3459</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/378316070'>未来 AI 可能给哪些产业带来哪些进步与帮助？</a></td>
<td>2020-03-10</td>
<td>0</td>
<td>30</td>
<td>1015</td>
</tr>
<tr>
<td><a href='https://www.zhihu.com/question/378316373'>如果有一天，技术能定制化生成人工智能男朋友 / 女朋友，你愿意拥有一个吗？</a></td>
<td>2020-03-10</td>
<td>2</td>
<td>106</td>
<td>4942</td>
</tr>
</table>
</body>
</html>
